@font-face{
  font-family: Pacifico-Regular;
  src:"fonts/Pacifico-Regular.ttf";
}


/*INDEX*/

body,html{
  background-color:#f1faee;
}
main,body,h1,h2{
  font-family: 'Lato', sans-serif !important;
  
}

.container-fluid{
  margin: 0 auto;
}


/*HEADER*/
header{
  background-color:#293241;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}


header, .painel_usuario{
  height: 60px;
  
}


.painel_usuario{
  margin:0 auto;
  padding-top:5px;
  display: inline-block;
  margin-right: 20px;
  text-align:right;
  

  
}

aside #nome_usuario{
  float:left;
  font-size: 18px;
  color:#ffff;

}


aside a#configuracoes, a#meu_perfil{
  color: #ffff;
  font-size: 14px;
  
}

#botao_sair{
  padding-top: 3px;
  text-align: center;
  float:right;
  background-color: #e85d04;
  width: 80px;
  height: 30px;
  border-radius: 15px;
  margin-top: 10px;
  margin-left: 10px;
  
}
 a #botao_sair {
  text-decoration:none;
  color: #ffff;
}

aside #botao_sair:hover{
  background-color: #98c1d9;
  
}

#nome_usuario{
  margin-right:10px;
  font-size: 20px;
  
}



.botao-menu-mobile{
  display:none;
}


@media (max-width: 767px){
  .painel_usuario{display:none;}

  .botao-menu-mobile{
    display:inherit;
    
    
  }


}

/*TELA DE LOGIN*/

.tela-login{
  height: 400px;
  background-color: #f1faee;
}

#fomulario-login{
  margin: 10% auto;
  padding:1% 0;
  width: 50%;
  height: auto;
}
#login-email, 
#login-senha{
  width: 60%;
  margin: 0 auto;
  padding: 0 auto;
}

#botao-entrar{
  text-align:center;
}
#botao-registrar{
  margin:40px 0;
  text-align:center;

  
}
#botao-registrar a{
  text-decoration:none;
}

#botao-registrar h5:hover{
  color:dodgerblue;
}

@media(max-width:750px ){
  #login-email,#login-senha{width: 60%;}
  #fomulario-login{width: 80%;}
  

}
@media(max-width: 400px){
  #login-email,#login-senha{width: 70%;} 
  #fomulario-login{width: 90%;}
}





/*INICIO*/

body{
  background-color: #f1faee;
}

.principal{
  background-color:#f1faee;
  
}

.barra-pesquisa{
  width: 60%;
  margin: 0 auto;
  padding-top: 20px;
}


.grupo-livros{
  margin: 2%;   
  
}

.caixa-livro{
  padding: 2%;
  min-width: 150px;
  min-height: 200px;
  max-width: 15%;
  max-height: 400px;
  text-align: center;
  margin: 1% 2%;
  
}


@media(max-width: 366px){
  .grupo-livros{
    display: flex;
    justify-content: center;
  }
  .caixa-livro{
    margin-bottom:5%;
  }


}

/*PAINEL DO ADMINISTRADOR*/
.container_configuracoes{
  height:auto;
  padding: 0 2%;
}



.painel_configuracoes{
  background-color:#ffff;
  padding: 2%;
  min-width: 150px;
  max-width: 350px;
  height:auto;
  margin: 20px;

}

.titulo-painel-configuracoes{
  margin-bottom:20px;
}



/*TELA DE DETALHES DO LIVRO*/

.caixa-detalhe{
  margin: 5%;
  border-radius:20px;
  background-color: #ffff;
  padding: 3% 5% 2% 0%;
  height: auto;
  width: 80%;
  display:flex;
  justify-content: center;

}

.container_imagem{
  float:left;
  min-height: 306px;
  padding: 0 auto;
  height:auto;
  text-align:center;
 
}

.container_imagem img{
  max-width: 70%;
  height: auto;

}

.container_detalhes{
  width: 50%;
  float:left;
  clear:right;
  font-size: 20px;
}


#blocoA ul li{
  margin:0;
  
}

#blocoB ul li{
  font-size: 17px;
}
#blocoB ul li:nth-child(1){
  margin-top:10px;
}

#botao-carrinho{
  margin-top:20px;
}
.container_descricao{
  background-color: #f8f9fa;
  width:80%;
  height:auto;
  float: left;
  clear:both;
  margin: 5%;
  padding: 2%;
  border-radius:25px;
}

#alteracao-livro{
  font-size: 15px;
  text-align:center;
}


@media(max-width: 800px){

  #main-livro{
    display:flex;
    justify-content: center;
    height:auto;
  }

  .caixa-detalhe{
    margin: 5% 0 0 0;
    padding: 0;
    display: flex; 
    justify-content: center;
    
  }
 
  .container_imagem,.container_detalhes{
    width:100%;
  }

  .container_imagem{
    margin: 5% 0;
    align-content: center;
  }

  div#blocoA ul li:nth-child(1){ 
    text-align:center;
    margin-top: 5%;
    padding-left:0;
  }
  div#blocoB ul li:last-child{
    text-align:center;
    padding-left:0;
  }
  
}

/*TELA DE CADASTRO DE LIVROS*/
#cadastro-livro{
  padding: 20px;
  margin:20px auto;
  position: relative;
  background-color:#ffff;
  border-radius: 20px;
  max-width: 650px;
  
}

.alert-success{
  width:auto;
  float:right;
  
}

.form-label{
  font-size:20px;  
  margin-bottom: -10px;
  
}

div textarea#descricao-livro{
  height:100px;
  padding: 0 auto;
  

}

.largura-formulario{
  width: 100px;
}

.coluna{
  display: flex;
}

.coluna .campo1{
  width: 60%;
  margin-right:50px;
}

.coluna .campo2{
  width: 30%;
}
.coluna div.campo1 input#autor-livro{
  width: 100%;
}

#div-titulo-livro,
#titulo-livro,
#descricao-livro,
#div-link-amazon, 
#link-amazon,
#enviar-capa, 
.coluna div.campo2 input#preco-livro{
  width: 100%;
}
 

.coluna #campo3{
  width: 60%;
  margin-left:25px;
}

.coluna #campo3{
  width: 50%;
 
}

.coluna #campo4{
  width: 90%;
}


.coluna div input#paginas-livro,
.coluna div input#isbn-livro{
  width: 95%;

}
#estoque-livro{
  width: 70%;
  
}
#enviar-capa{
  height: 38px;
}
#campo5{
  width: 35%;
  margin-right:40px;
}
#campo6{
  width:100%;
}

/*TELA TODOS-LIVROS.PHP */

#caixa-lista{
  background-color:#ffff;
  padding: 2%;
  margin: 5% 0;

}

#lista-livros{
  margin-top: 5%; 
}

#linha-tabela{
  font-size:12px;
}
#lista-livros #coluna-titulo{
  width:5px;
  
}

#lista-livros #linha-titulo a, 
#lista-livros #linha-autor a{
  text-decoration: none;
  color:black;
  word-break: break-word;
}

#coluna-tabela{
  width: 100%;
}

#coluna-id{
 width: 2%;
}

#coluna-titulo{
  width: 50%;
}
#coluna-autor{
  width: 30%;
}

#coluna-alterar,#coluna-excluir{
  width: 5%;
}

div a#cancelar-exclusao{
  text-decoration:none;
}

/*============== PADRÕES ==============*/


.titulo-central{
  margin-top:30px;
  text-align:center;
  margin-bottom:30px;
}

.subtitulo{
  font-size:30px;
}



/*BOTÃO PRIMÁRIO*/
.btn-primary{
  background-color: #ee6c4d ;
  border-color: #ee6c4d ;
  color: #ffff ;
}

.btn-primary:hover, .btn-primary:active{
  background-color: #98c1d9 ;
  border-color: #98c1d9 ;
}

.lista-geral{
  list-style:none;
  padding: 0;

}

/* ======= FORMULÁRIOS ======= */

.barra-principal{
  padding: 20px;
  margin:20px auto;
  position: relative;
  background-color:#ffff;
  border-radius: 20px;
  max-width: 650px;
  
}

