
/*INDEX*/

main,body,h1,h2{
  font-family: 'Lato', sans-serif !important;
}

body{
  background-color: #f0ead2 !important; 
  
}

#linha_card{
  width:155px;
}

main{
  background-color:red;
    margin: 0 10% auto;
    padding: 0 auto;
    height: 1000px;
    
    
}

.imagem_livro{
  width:150px;
  height:250px; 
}

.lista_livro{
  margin-bottom:15px;
}

ul{
   list-style: none;
}


.caixa_grande{
  float: left;
  margin-top: 30px;
  margin-left: 45px;
  width: 215px;
  height: 500px;
  padding: 0 auto;
  background-color: #ffff;
  border-radius:5px;

}


.caixa_media{
  height: 400px;
  margin-top:20px;

}



#li_vermais{
  margin-top:20px;
 
}


#bt_vermais{
  width: 150px !important; 
  text-align: center;
  background-color: #3d5a80;
  border:none;
  
}

#bt_vermais:hover{
  background-color: dimgrey;
}


h1{
  text-align: center;
}


