@font-face{
  font-family: Pacifico-Regular;
  src:"fonts/Pacifico-Regular.ttf";
}


/*INDEX*/

main,body,h1,h2{
  font-family: 'Lato', sans-serif !important;
}

.container-fluid{
  margin: 0 auto;
}

/*HEADER*/
header{
  background-color:#293241;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#logo{
  font-family: 'Pacifico', cursive !important;
  color:#ffff;
  margin: 0 0 0 5%;
  text-decoration:none;
  width: 100%;
}

#logo a{
  text-decoration: none;
  
}

header, .painel_usuario{
  height: 60px;
  
}


.painel_usuario{
  margin:0 auto;
  padding-top:5px;
  display: inline-block;
  margin-right: 20px;
  text-align:right;
  

  
}

aside #nome_usuario{
  float:left;
  font-size: 18px;
  color:#ffff;

}


aside a#configuracoes, a#meu_perfil{
  color: #ffff;
  font-size: 14px;
  
}

aside #botao_sair{
  padding-top: 3px;
  text-align: center;
  float:right;
  background-color: #e85d04;
  width: 80px;
  height: 30px;
  border-radius: 15px;
  margin-top: 10px;
  margin-left: 10px;
  
}

aside a #botao_sair {
  text-decoration:none;
  color: #ffff;
}

aside #botao_sair:hover{
  background-color: #98c1d9;
  
}

#nome_usuario{
  margin-right:10px;
  font-size: 20px;
  
}


/*INICIO*/
body{
  background-color: #f1faee !important; 
  
}

#linha_card{
  width:155px;
}

main{
    margin: 0 10% auto;
    padding: 0 auto;
    height: 1000px;
    
    
}

.imagem_livro{
  width:150px;
  height:250px; 
}

.lista_livro{
  margin-bottom:15px;
}

ul{
   list-style: none;
}


.caixa_grande{
  float: left;
  margin-top: 30px;
  margin-left: 45px;
  width: 215px;
  height: 500px;
  padding: 0 auto;
  background-color: #ffff;
  

}

.caixa_media{
  height: 400px;
  margin-top:20px;
}

#li_vermais{
  margin-top:20px;
 
}

#bt_vermais{
  width: 150px; 
  text-align: center;
  border:none;
}


.input-group{
  width: 60%;
  margin: 0 auto;
  padding-top: 20px;
}

.form-control{
  height:40px;
  width: 600px;

}

.btn-outline-secondary{
  background-color: #ee6c4d;
  border-color: #ee6c4d;
  color: #ffff;

}

.btn-outline-secondary:hover{
  background-color: #98c1d9;
  border-color: #98c1d9;

}

/*PAINEL DO ADMINISTRADOR*/
.container_configuracoes{
  height:100%;
  padding: 0 2%;
}

div.titulo-central{
  margin-top:30px;
  text-align:center;
  margin-bottom:30px;
}


div.painel_configuracoes{
  background-color:#ffff;
  display:block;
  float: left;
  border-color: #1d3557;
  border-style: solid;
  border-radius: 15px;
  padding: 10px;
  border-width: 1px;
  

}

/*TELA DE DETALHES DO LIVRO*/

.caixa-detalhe{
  margin: 5%;
  border-radius:20px;
  background-color: #ffff;
  padding: 3% 5% 2% 0%;
  height: auto;
  width: 80%;
  display:flex;
  justify-content: center;

}

.container_imagem{
  float:left;
  min-height: 306px;
  padding: 0 auto;
  height:auto;
  text-align:center;
 
}

.container_imagem img{
  max-width: 70%;
  height: auto;

}

.container_detalhes{
  width: 50%;
  float:left;
  clear:right;
  font-size: 20px;
}


#blocoA ul li{
  margin:0;
  
}

#blocoB ul li{
  font-size: 17px;
}
#blocoB ul li:nth-child(1){
  margin-top:10px;
}

#botao-carrinho{
  margin-top:20px;
}
.container_descricao{
  background-color: #f8f9fa;
  width:80%;
  height:auto;
  float: left;
  clear:both;
  margin: 5%;
  padding: 2%;
  border-radius:25px;
}

#alteracao-livro{
  font-size: 15px;
  text-align:center;
}


@media(max-width: 800px){

  #main-livro{
    display:flex;
    justify-content: center;
    height:auto;
  }

  .caixa-detalhe{
    margin: 5% 0 0 0;
    padding: 0;
    display: flex; 
    justify-content: center;
    
  }
 
  .container_imagem,.container_detalhes{
    width:100%;
  }

  .container_imagem{
    margin: 5% 0;
    align-content: center;
  }

  div#blocoA ul li:nth-child(1){ 
    text-align:center;
    margin-top: 5%;
    padding-left:0;
  }
  div#blocoB ul li:last-child{
    text-align:center;
    padding-left:0;
  }
  
}

/*TELA DE CADASTRO DE LIVROS*/
#cadastro-livro{
  padding: 20px;
  margin:20px auto;
  position: relative;
  background-color:#ffff;
  border-radius: 20px;
  max-width: 650px;
  
}

.alert-success{
  width:auto;
  float:right;
  
}

.form-label{
  font-size:20px;  
  margin-bottom: -10px;
  
}

div textarea#descricao-livro{
  height:100px;
  padding: 0 auto;
  

}

.largura-formulario{
  width: 100px;
}

.coluna{
  display: flex;
}

.coluna #campo1{
  width: 60%;
  margin-right:50px;
}

.coluna #campo2{
  width: 30%;
}
.coluna div#campo1 input#autor-livro{
  width: 100%;
}

#div-titulo-livro,
#titulo-livro,
#descricao-livro,
#div-link-amazon, 
#link-amazon,
#enviar-capa, 
.coluna div#campo2 input#preco-livro{
  width: 100%;
}
 

.coluna #campo3{
  width: 60%;
  margin-left:25px;
}

.coluna #campo3{
  width: 50%;
 
}

.coluna #campo4{
  width: 90%;
}


.coluna div input#paginas-livro,
.coluna div input#isbn-livro{
  width: 95%;

}
#estoque-livro{
  width: 70%;
  
}
#enviar-capa{
  height: 38px;
}
#campo5{
  width: 35%;
  margin-right:40px;
}
#campo6{
  width:100%;
}

/*TELA TODOS-LIVROS.PHP */

#caixa-lista{
  background-color:#ffff;
  padding: 2%;
  margin: 5% 0;

}

#lista-livros{
  margin-top: 5%; 
}

#linha-tabela{
  font-size:12px;
}
#lista-livros #coluna-titulo{
  width:5px;
  
}

#lista-livros #linha-titulo a, 
#lista-livros #linha-autor a{
  text-decoration: none;
  color:black;
  word-break: break-word;
}

#coluna-tabela{
  width: 100%;
}

#coluna-id{
 width: 2%;
}

#coluna-titulo{
  width: 50%;
}
#coluna-autor{
  width: 30%;
}

#coluna-alterar,#coluna-excluir{
  width: 5%;
}

div a#cancelar-exclusao{
  text-decoration:none;
}

/*BOTOES DO SITE*/
.btn-primary{
  background-color: #ee6c4d ;
  border-color: #ee6c4d ;
  color: #ffff ;
}

.btn-primary:hover, .btn-primary:active{
  background-color: #98c1d9 ;
  border-color: #98c1d9 ;
}


